#{extends 'main.html' /}
#{set title: "Inscription"/}

#{set 'moreScripts'}
<script type="text/javascript">
$(document).ready(function() {
    $('#myIpAddress').live("click", function(e){
        $('#user_ipAddress').val($(this).attr("data-ipadress"));
    });
});
</script>
#{/set}

<h1 class="screen-title"><i class="big-icon-user"></i>&nbsp;Inscription</h1>

#{alerts /}
<form action="@{Guests.save()}" method="POST" class="form-horizontal">    
    <div class="control-group #{ifError 'user.username'}error#{/ifError}">
        <label class="control-label">Identifiant</label>
        <div class="controls">
            <input type="text" autocomplete="off" #{if user?.id != null}readonly="readonly"#{/if} name="user.username" value="${flash.get('user.username') != null ? flash.get('user.username') : (user?.id != null) ? user?.username : null}">
        #{ifError 'user.username'}<span class="help-inline">#{error 'user.username' /}</span>#{/ifError}
        #{else }<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>
    <div class="control-group #{ifError 'user.password'}error#{/ifError}">
        <label class="control-label">Mot de passe</label>
        <div class="controls">
            <input type="text" autocomplete="off" #{if user?.id != null}readonly="readonly"#{/if} name="user.password" value="${flash.get('user.password') != null ? flash.get('user.password') : (user?.id != null) ? user?.password : null}">
        #{ifError 'user.password'}<span class="help-inline">#{error 'user.password' /}</span>#{/ifError}
        #{else }<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>
    <div class="control-group #{ifError 'user.firstName'}error#{/ifError}">
        <label class="control-label">Pr&eacute;nom</label>
        <div class="controls">
            <input type="text" name="user.firstName" value="${flash.get('user.firstName') != null ? flash.get('user.firstName') : user?.firstName}">
            #{ifError 'user.firstName'}<span class="help-inline">#{error 'user.firstName' /}</span>#{/ifError}
            #{else}<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>
    <div class="control-group #{ifError 'user.lastName'}error#{/ifError}">
        <label class="control-label">Nom</label>
        <div class="controls">
            <input type="text" autocomplete="off" name="user.lastName" value="${flash.get('user.lastName') != null ? flash.get('user.lastName') : user?.lastName}">
            #{ifError 'user.lastName'}<span class="help-inline">#{error 'user.lastName' /}</span>#{/ifError}
            #{else}<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>
    <div class="control-group #{ifError 'user.email'}error#{/ifError}">
        <label class="control-label">Email</label>
        <div class="controls">
            <input type="text" name="user.email" value="${flash.get('user.email') != null ? flash.get('user.email') : user?.email}">
            #{ifError 'user.email'}<span class="help-inline">#{error 'user.email' /}</span>#{/ifError}
            #{else}<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>
    <div class="control-group #{ifError 'user.ipAddress'}error#{/ifError}">
        <label class="control-label">Adresse IP</label>
        <div class="controls">
            <input type="text" id="user_ipAddress" name="user.ipAddress" value="${flash.get('user.ipAddress') != null ? flash.get('user.ipAddress') : user?.ipAddress}">
        #{ifError 'user.ipAddress'}<span class="help-inline">#{error 'user.ipAddress' /}</span>#{/ifError}
        #{else}<span class="help-inline">&{'validation.required'}</span>#{/else}
        <br />Votre adress ip actuelle : <a href="#!" id="myIpAddress" title="Cliquer pour utiliser cette adresse ip" data-ipadress="${ipAddress}">${ipAddress}</a>
        </div>
    </div>
    <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp;s'inscrire</button>
    <a href="@{Application.index}" class="btn"><i class="icon-ban-circle"></i>&nbsp;Annuler</a>
    </div>
</form>

