#{extends 'template.html' /}
#{set title: (user?.id != null) ? ("Modification de l'utilisateur " + user.username) :  "Nouvel utilisateur"/}

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function() {
        $('#myIpAddress').live("click", function(e){
            $('#user_ipAddress').val($(this).attr("data-ipadress"));
        });
    });
</script>
#{/set}

<h1 class="screen-title"><i class="big-icon-user"></i>&nbsp;Utilisateurs</h1>
<h2 class="screen-title">
    #{if user?.id!=null}
        Modification de l'utilisateur ${user.username}
    #{/if}
    #{else}
        Nouvel utilisateur
    #{/else}
</h2>

#{alerts /}
<form action="@{Users.save()}" method="POST" class="form-horizontal">
    <input type="hidden" name="user.id" value="${user?.id}">
    <div class="control-group #{ifError 'user.username'}error#{/ifError}">
        <label class="control-label">Identifiant</label>
        <div class="controls">
            <input type="text" autocomplete="off" #{if user?.id != null}readonly="readonly"#{/if} name="user.username" value="${flash.get('user.username') != null ? flash.get('user.username') : (user?.id != null) ? user?.username : null}">
        #{ifError 'user.username'}<span class="help-inline">#{error 'user.username' /}</span>#{/ifError}
        #{else }<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>
    <div class="control-group #{ifError 'user.email'}error#{/ifError}">
        <label class="control-label">Email</label>
        <div class="controls">
            <input type="text" name="user.email" value="${flash.get('user.email') != null ? flash.get('user.email') : user?.email}">
            #{ifError 'user.email'}<span class="help-inline">#{error 'user.email' /}</span>#{/ifError}
            #{else}<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>
    <div class="control-group #{ifError 'user.ipAddress'}error#{/ifError}">
        <label class="control-label">Adresse IP</label>
        <div class="controls">
            <input type="text" id="user_ipAddress" name="user.ipAddress" value="${flash.get('user.ipAddress') != null ? flash.get('user.ipAddress') : user?.ipAddress}">
        #{ifError 'user.ipAddress'}<span class="help-inline">#{error 'user.ipAddress' /}</span>#{/ifError}
        #{else}<span class="help-inline">&{'validation.required'}</span>#{/else}
        <br />Votre adresse ip actuelle : <a href="#!" id="myIpAddress" title="Cliquer pour utiliser cette adresse ip" data-ipadress="${ipAddress}">${ipAddress}</a> (<em>Vous pouvez aussi utiliser un dyndns : "mondomain.no-ip.org" par exemple</em>)
        </div>
    </div>
    <div class="control-group #{ifError 'user.clientName'}error#{/ifError}">
        <label class="control-label">Client</label>
        <div class="controls">
            <input type="text" name="user.clientName" value="${flash.get('user.clientName') != null ? flash.get('user.clientName') : user?.clientName}">
        #{ifError 'user.clientName'}<span class="help-inline">#{error 'user.clientName' /}</span>#{/ifError}
        </div>
    </div>
    #{if controllers.Security.connectedUser().isAdmin }
    <div class="control-group">
        <label class="control-label">Administrateur</label>
        <div class="controls">
            <input type="checkbox" name="user.isAdmin" value="true" #{if user?.id != null} ${user.isAdmin ? 'checked=\"checked\"' : ''}  #{/if} />            
            <input type="hidden" name="user.isAdmin" value="false" />
        </div>
    </div>
    #{/if}
    <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp;Enregistrer</button>
    <a href="@{Users.index}" class="btn"><i class="icon-ban-circle"></i>&nbsp;Annuler</a>
    </div>
</form>

