#{extends 'template.html' /}
#{set title:'Torrents' /}

<h1 class="screen-title"><i class="big-icon-page"></i>&nbsp;Torrents</h1>

<div class="subnav">
    <ul class="nav nav-pills">
        <li #{if !activeTag}class="active"#{/if}><a href="@{Application.index}">Tous</a></li>
    #{list tags, as:'tag'}
        <li #{if activeTag && activeTag.name == tag.name}class="active"#{/if}><a href="@{Application.tag(tag.name)}">${tag.name}</a></li>
    #{/list}
    </ul>
</div>

#{if torrents?.size() > 0}
    <table id="resultTable" class="table table-striped table-bordered table-condensed clear-pull">
        <tr>
            <th>Torrent</th>
            <th>Uploader</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    #{list torrents, as:'torrent'}
        <tr>
            <td><a href="#!">${torrent.filename}</a></td>
            <td>${torrent.uploader?.username}</td>
            <td>#{list torrent.tags, as:'tag'}<a href="@{Application.tag(tag.name)}" class="tag">${tag.name}</a>&nbsp;#{/list}</td>
            <td class="actions">
                <a href="@{Application.update(torrent.id)}" class="btn" title="Modifier"><i class="icon-pencil"></i>&nbsp;Modifier</a>
            </td>
        </tr>
    #{/list}
    </table>

    #{if pager.pageCount > 1}
        #{if activeTag}
            <div class="pagination">#{pager pager, url:actionBridge.Application.tag(activeTag.name) /}</div>
        #{/if}
        #{else}
            <div class="pagination">#{pager pager, url:actionBridge.Application.index() /}</div>
        #{/else}
    #{/if}
#{/if}
#{else}
    <br/><div class="alert clear-pull">Aucun Torrent</div>
#{/else}