#{extends 'template.html' /}
#{set title:'Torrents' /}

#{set 'moreScripts'}
<script type="text/javascript">
$(document).ready(function() {
    $('#detailsModal').modal('hide');

    $('.btn-detail').live("click", function(e) {
        var detailsAction = #{jsAction @Application.details(':id') /}
        $('#detailsModal').load(
            detailsAction({id: $(this).attr("data-id")}),
            function() {
                $('#detailsModal').modal('show');
            }
        )
    });
});
</script>
#{/set}

<h1 class="screen-title"><i class="big-icon-page"></i>&nbsp;Torrents</h1>

<div class="subnav">
    <ul class="nav nav-pills">
        <li #{if request.action != "Application.noTag" && !activeTag && !keywords}class="active"#{/if}><a href="@{Application.index}">Tous</a></li>
        <li #{if request.action =~ "Application.noTag"}class="active"#{/if}><a href="@{Application.noTag}">Pas de Tag</a></li>
    #{list tags, as:'tag'}
        <li #{if activeTag && activeTag.name == tag.name}class="active"#{/if}><a href="@{Application.tag(tag.name)}">${tag.name}</a></li>
    #{/list}
    </ul>
</div>

<div class="container">
#{form @Application.search(), class:"form-search pull-left", style:"margin: 18px 0;"}
    <input type="text" name="keywords" class="search-query" placeholder="Recherche" value="${keywords}">
    <button type="submit" class="btn">Rechercher</button>
#{/form}
<a href="#!" id="addMulitpleTorrents" class="btn btn-primary pull-right" style="margin: 18px 0;"><i class="icon-plus icon-white" title="Ajouter plusieurs Torrent"></i>Ajouter plusieurs Torrents</a>
<a href="@{Application.create()}" class="btn btn-primary pull-right" style="margin: 18px 10px 18px 0;"><i class="icon-plus icon-white" title="Ajouter un Torrent"></i>Ajouter un Torrent</a>
</div>

<div class="container">
#{alerts /}

#{if torrents?.size() > 0}
    <table id="resultTable" class="table table-striped table-bordered table-condensed clear-pull">
        <tr>
            <th style="width: 30%;">Torrent</th>
            <th>Uploader</th>
            <th>Tags</th>
            <th>Date d'ajout</th>
            <th style="width: 220px;">Actions</th>
        </tr>
    #{list torrents, as:'torrent'}
        <tr>
            <td>
                <a href="#!" class="btn-detail" data-id="${torrent.id}">${torrent.filename}</a>
                <a href="@{Application.getTorrentFile(torrent.id)}" class="pull-right" title="T&eacute;l&eacute;charger le torrent ${torrent.filename}"><i class="icon-download"></i>T&eacute;l&eacute;charger</a>
            </td>
            <td><a href="@{Users.details(torrent.uploader?.id)}">${torrent.uploader?.username}</a></td>
            <td>
                #{list torrent.tags, as:'tag'}
                    <a href="@{Application.tag(tag.name)}" class="tag"><i class="icon-tag"></i>${tag.name}</a>${tag_isLast ? '' : ',' }
                #{/list}
            </td>
            <td>
                ${torrent.creationDate?.format("dd/MM/yyyy")}
            </td>
            <td class="actions">
                <a href="@{Application.update(torrent.id)}" class="btn" title="Modifier"><i class="icon-pencil"></i>Modifier</a>
                #{if controllers.Security.connectedUser() == torrent.uploader || controllers.Security.connectedUser().isAdmin}
                <a href="@{Application.delete(torrent.id)}" class="btn btn-danger" onclick="if(!confirm('Etes vous sûr de vouloir supprimer ce torrent ?'))return false;" title="Supprimer"><i class="icon-trash icon-white"></i>Supprimer</a>
                #{/if}
            </td>
        </tr>
    #{/list}
    </table>

    #{if pager.pageCount > 1}
        #{if activeTag}
            <div class="pagination">#{pager pager, url:actionBridge.Application.tag(activeTag.name) /}</div>
        #{/if}
        #{elseif keywords}
            <div class="pagination">#{pager pager, url:actionBridge.Application.search(keywords) /}</div>
        #{/elseif}
        #{else}
            <div class="pagination">#{pager pager, url:actionBridge.Application.index() /}</div>
        #{/else}
    #{/if}
#{/if}
#{else}
    <br/><div class="alert clear-pull">Aucun Torrent</div>
#{/else}
</div>

<div class="modal" id="detailsModal"></div>

#{uploadManager uploadUrl:@Application.uploadMultiple(), returnUrl:@Application.index() /}