#{extends 'template.html' /}
#{set title:'Torrents' /}

<h1 class="screen-title"><i class="big-icon-page"></i>&nbsp;Torrents</h1>

<a href="@{admin.Users.create()}" class="btn btn-primary pull-right" style="margin:18px 0;"><i class="icon-plus icon-white" title="&{'cockpit.action.addUser'}"></i>&nbsp;&{'cockpit.action.addUser'}</a>

<div class="subnav">
    <ul class="nav nav-pills">
        <li #{if !activeTag}class="active"#{/if}><a href="@{Application.index}">Tous</a></li>
    #{list tags, as:'tag'}
        <li #{if activeTag && activeTag.name == tag.name}class="active"#{/if}><a href="@{Application.tag(tag.name)}">${tag.name}</a></li>
    #{/list}
    </ul>
</div>

#{alerts /}

#{if torrents?.size() > 0}
    <table id="resultTable" class="table table-striped table-bordered table-condensed clear-pull">
        <tr>
            <th style="width: 30%;">Torrent</th>
            <th>Uploader</th>
            <th>Tags</th>
            <th style="width: 220px;">Actions</th>
        </tr>
    #{list torrents, as:'torrent'}
        <tr>
            <td><a href="@{Application.getTorrentFile(torrent.id)}" title="Télécharger le torrent ${torrent.filename}"><i class="icon-download"></i> ${torrent.filename}</a></td>
            <td>${torrent.uploader?.username}</td>
            <td>
                #{list torrent.tags, as:'tag'}
                    <a href="@{Application.tag(tag.name)}" class="tag"><i class="icon-tag"></i> ${tag.name}</a>${tag_isLast ? '' : ',' }
                #{/list}</td>
            <td class="actions">
                <a href="@{Application.update(torrent.id)}" class="btn" title="Modifier"><i class="icon-pencil"></i>&nbsp;Modifier</a>
                <a href="@{Application.delete(torrent.id)}" class="btn btn-danger" onclick="if(!confirm('Etes vous sûr de vouloir supprimer ce torrent ?'))return false;" title="Supprimer"><i class="icon-trash icon-white"></i>&nbsp;Supprimer</a>
            </td>
        </tr>
    #{/list}
    </table>

    #{if pager.pageCount > 1}
        #{if activeTag}
            <div class="pagination">#{pager pager, url:actionBridge.Application.tag(activeTag.name) /}</div>
        #{/if}
        #{else}
            <div class="pagination">#{pager pager, url:actionBridge.Application.index() /}</div>
        #{/else}
    #{/if}
#{/if}
#{else}
    <br/><div class="alert clear-pull">Aucun Torrent</div>
#{/else}