#{extends 'template.html' /}
#{set title: (user?.id != null) ? ("Modification du torrent " + torrent.filename) :  "Nouveau Torrent"/}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.tagsinput.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.autocomplete.css'}" />
    <style type="text/css">
        div.tagsinput input {
            border: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        div.tagsinput input { width:90px;}
        div.tagsinput span.tag { padding: 3px 5px;}
        .ac_over {
        }
    </style>
#{/set}

#{set 'moreScripts'}
    <script type='text/javascript' src="@{'/public/javascripts/jquery.tagsinput.js'}"></script>
    <script type='text/javascript' src="@{'/public/javascripts/jquery.autocomplete.min.js'}"></script>
    <script type="text/javascript">
        $(function() {
            $('#tags').tagsInput({
                'height':'70px',
                'width':'279px',
                'interactive':true,
                'defaultText':'ajoutez un tag',
                'autocomplete_url':'@{Application.tags()}',
                'autocomplete':{selectFirst:true, width:'100px', autoFill:false}
            });
        });
    </script>
#{/set}

<h1 class="screen-title"><i class="big-icon-page"></i>&nbsp;Torrents</h1>
<h2 class="screen-title">
#{if torrent?.id != null}
    Modification du torrent ${torrent.filename}
#{/if}
#{else}
    Nouveau Torrent
#{/else}
</h2>

#{alerts /}

<form action="@{Application.save()}" method="POST" class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" name="keywords" value="${keywords}">
    <input type="hidden" name="activeTag" value="${activeTag}">
    <input type="hidden" name="torrent.id" value="${torrent?.id}">

#{if torrent?.id == null}
    <div class="control-group">
        <label class="control-label">Fichier Torrent</label>&nbsp;
        <input type="file" name="file">
    #{ifError 'file'}<span class="error-inline">#{error 'file' /}</span>#{/ifError}
    #{else }<span class="help-inline">&{'validation.required'}</span>#{/else}
    </div>
#{/if}
    <div class="control-group #{ifError 'torrent.filename'}error#{/ifError}">
        <label class="control-label">Nom du Torrent</label>
        <div class="controls">
            <input type="text" autocomplete="off" name="torrent.filename" value="${flash.get('torrent.filename') != null ? flash.get('torrent.filename') : (torrent?.id != null) ? torrent?.filename : null}">
        #{ifError 'torrent.filename'}<span class="error-inline">#{error 'torrent.filename' /}</span>#{/ifError}
        #{else }<span class="help-inline">&{'validation.required'}</span>#{/else}
        </div>
    </div>

    <div class="control-group #{ifError 'torrent.description'}error#{/ifError}">
        <label class="control-label">Description</label>
        <div class="controls">
            <textarea rows="6" cols="" name="torrent.description">${flash.get('torrent.description') != null ? flash.get('torrent.description') : torrent?.description}</textarea>
        #{ifError 'torrent.description'}<span class="error-inline">#{error 'torrent.description' /}</span>#{/ifError}
        #{else }<span class="help-inline">Syntaxe <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> accept&eacute;e</span>#{/else}
        </div>
    </div>

    <div class="control-group #{ifError 'tags'}error#{/ifError}">
        <label class="control-label">Tags</label>
        <div class="controls">
            <input type="text" autocomplete="off" name="tags" id="tags" value="${flash.get('tags') != null ? flash.get('tags') : (torrent?.id != null) ? torrent?.tags.name.join(', ') : null}">
        #{ifError 'tags'}<span class="error-inline">#{error 'tags' /}</span>#{/ifError}
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp;Enregistrer</button>
        <a href="#{if keywords}@{Application.search(keywords)}#{/if}
                 #{elseif activeTag}@{Application.tag(activeTag)}#{/elseif}
                 #{else}@{Application.index}#{/else}" class="btn"><i class="icon-ban-circle"></i>&nbsp;Annuler</a>
    </div>
</form>
